.filterSection {
  color: #fff;
  padding: 15px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filterSection > div {
  transition: all 0.3s ease;
  cursor: pointer;
}

.filterSection > div:active {
  transform: scale(0.96);
}

.box1 {
  text-align: center;
  font-weight: 400;
  font-size: 12.5px;
  padding: 15px 40px 15px 40px;
  border-radius: 60px;
  /* background: linear-gradient(to top right, #ffa228 0%, #ff6432 100%); */
}
.box2 {
  text-align: center;
  font-weight: 400;
  font-size: 12.5px;
  padding: 15px 30px 15px 30px;
  border-radius: 60px;
  background-color: #210a01;
  -webkit-box-shadow: 0px 0px 23px 0px #ff6a0008;
  -moz-box-shadow: 0px 0px 23px 0px #ff6b0008;
  box-shadow: 0px 0px 23px 0px #ff6a0008;
  /* background: linear-gradient(to top right, #ffa228 0%, #ff6432 100%); */
}
.box3 {
  text-align: center;
  font-weight: 400;
  font-size: 12.5px;
  padding: 15px 35px 15px 35px;
  border-radius: 60px;
  background-color: #210a01;
  -webkit-box-shadow: 0px 0px 23px 0px #ff6b0008;
  -moz-box-shadow: 0px 0px 23px 0px #ff6b0008;
  box-shadow: 0px 0px 23px 0px #ff6a0008;
  /* background: linear-gradient(to top right, #ffa228 0%, #ff6432 100%); */
}
.box4 {
  text-align: center;
  font-weight: 400;
  font-size: 12.5px;
  padding: 15px 50px 15px 50px;
  border-radius: 60px;
  background-color: #210a01;
  -webkit-box-shadow: 0px 0px 23px 0px #ff6b0008;
  -moz-box-shadow: 0px 0px 23px 0px #ff6b0008;
  box-shadow: 0px 0px 23px 0px #ff6a0008;
  /* background: linear-gradient(to top right, #ffa228 0%, #ff6432 100%); */
}
.box5 {
  text-align: center;
  font-weight: 400;
  font-size: 12.5px;
  padding: 15px 30px 15px 30px;
  border-radius: 60px;
  background-color: #210a01;
  -webkit-box-shadow: 0px 0px 23px 0px #ff6b0008;
  -moz-box-shadow: 0px 0px 23px 0px #ff6b0008;
  box-shadow: 0px 0px 23px 0px #ff6a0008;
  /* background: linear-gradient(to top right, #ffa228 0%, #ff6432 100%); */
}
