/* Основное начало стилей */
.header {
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.mainHeader {
  margin: auto;
  padding: 8% 8%;
}

/* Текст шапки */

.headerText {
  display: flex;
  flex-direction: column;
}

.h1Header {
  padding-top: 2rem;
  font-size: 36px;
}

.lightIcon {
  width: 30px;
  height: 30px;
}

.pHeader {
  color: #a3a3a3;
  font-size: 12px;
  width: 18rem;
  padding-top: 1rem;
}

.mainBtns .buttonDiv {
  padding: 1rem 0 0 0;
}

.freePizza{
  color: #fff;
}

/* Фотки пиццы */
.relativeIcons{
  position: absolute;
  top: 3rem;
}

.pizzaIcon{
  position: relative;
  left: 11rem;
}

.fries{
  position: relative;
  top: 21rem;
  right: 13rem;
}

/* ===================== */
/* Дефотный (ORDER ACTIVE) */
/* ===================== */

.mainBtns.order-active .orderBtn {
  color: #fff;
  background: linear-gradient(to top right, #ff6432 0%, #ffa228 100%);
}

.mainBtns.order-active .menuBtn-wrapper {
  background: linear-gradient(to top right, #ff6432 0%, #ffa228 100%);
}

.mainBtns.order-active .menuBtn {
  color: #ff6432;
  background-color: #1e0c00;
}

/* ================= */
/* MENU ACTIVE STATE */
/* ================= */

.mainBtns.menu-active .orderBtn {
  background: transparent;
  color: #ff6432;
}

.mainBtns.menu-active .orderBtn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 2px;
  background: linear-gradient(to top right, #ff6432 0%, #ffa228 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.mainBtns.menu-active .menuBtn-wrapper {
  background: linear-gradient(to top right, #FF5924 0%, #FFA229 100%);
  padding: 0;
}

.mainBtns.menu-active .menuBtn {
  color: #fff;
  background: linear-gradient(to top right, #FF5924 0%, #FFA229 100%);
  border-radius: 15px;
  padding: 10px 40px;
}

/* ================= */
/* Базовые стили     */
/* ================= */

/* Общие стили */
.mainBtns .orderBtn {
  border: none;
  border-radius: 15px;
  padding: 11px 60px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.4s ease;
}

.mainBtns .menuBtn {
  border: none;
  border-radius: 15px;
  padding: 9px 40px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease;
}

.mainBtns .menuBtn-wrapper {
  display: inline-block;
  padding: 2px;
  border-radius: 15px;
  border-left: none;
  position: relative;
  right: 2rem;
}

.mainBtns .orderBtn:hover,
.mainBtns .menuBtn:hover {
  transform: scale(1.02);
}

/* Стили для промо ролика */

.poroVideio{
  padding: 2rem 0 0 0;
}

.promoText{
  color: #a3a3a3;
  font-size: 12px;
}

.promo{
  position: relative;
  right: 1rem;
  border-radius: 15px;
}

/* Стили для кнопки плея */

.postionDiv{
  position: relative;
  bottom: 166px;
  left: 5px;
}

.playBtn{
  background: #6747336b;
  border: none;
  width: 194px;
  height: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
}
